.flexbox-container
{
    display: flex;
    justify-content: space-between;
    /* align-items:center; */
    align-content:center;
}

.flexbox-item
{
    width: 200px;
    margin: 10px;
    background-color: cadetblue;
    border: 5px solid black;
}
 
.flexbox-item-1
{
    text-align: center;
    min-height: 100px;
    /* flex-shrink: 0; */    
}

.flexbox-item-2
{
    text-align: center;
    min-height: 200px;
    flex-grow: 2;
}

.flexbox-item-3
{
    text-align: center;
    min-height: 300px;
}
